<!doctype html>
<html lang="zh-CN">
	<head>
		<title>Task1</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id = "part1">
			<div id = "cover">
				<div id="title" >
					<p class="h1 white-font" >Hello World</p>
					<p class="black-font">China is speeding up strategic plan standards traffic rules,laws and regulations
					on accident-incurred liabillties for its smart car industry.Economic information Daily 
					reported Thursday.</p>
				</div>
				<form id="acount">
					<h3 class="white-font">CREATE YOUR ACCOUT</h3>
					<p class="white-font">IT IS ABSOLUTELY FREE</p>
					<input class="white-font" type="email" value="denis@craftwork.com"/><input  type="password" placeholder="create your password"/><input type="submit" value="SIGN UP" />
				</form>
			</div>
		</div>
		
		<div id="part2">
			<p>BOATLOADS OF AWESOME</p>
			<p class="h1" >Ready-made,customizable,HTML landing page sections</p>
			<div id="nav">
				<div class="item clearfix">
					<img src="./image/mobile.png"/>
					<div class="clearfix">
						<strong>Mobile First</strong></br>
						<span>All modulz are built mobile first for maxinum device compactbility</span>
					</div>
				</div>
				<div class="item clearfix">
					<img src="./image/tab.png"/>
					<div class="clearfix">
						<strong>Accessibility</strong></br>
						<span>Support for IE8,mobile and table devices,screenreaders and color blind</span>	
					</div>
				</div>
				<div class="item clearfix">
					<img src="./image/pen.png"/>
					<div class="clearfix">
						<strong>Fluid Typography</strong></br>
						<span>On different screen sizes fonts automagically scale with the viewport</span>	
					</div>
				</div>
				<div class="item clearfix">
					<img src="./image/menu.png"/>
					<div class="clearfix">
						<strong>Customization</strong></br>
						<span>Make any design your own using the style Editor Personalize fonts colors  and layouts to create the custom look you want</span>	
					</div>
				</div>
			</div>
		</div>
		
		<div id="part3">
			<div id = "cover">
				<div id="use">
					<p class="h1 white-font" >Supportive policies for China's smart car</p>
					<p class="white-font">China will come up with its own smart car standards,traffic rules,laws and regulations relating to safety.according to the China industry innovation Aliance for the intelli-gent and Connected Vehicles.</p>
					<a class="checked">CHECK OUT FEATURES</a><a>TRY PRODUCT FOR FREE</a>
				</div>
				
				<div id="phone">
					<span>。</span>
					<img src="./image/Screen.jpg"/>
				</div>
			</div>
		</div>
		
		<div id="part4">
			<p class="h1" >Try Our Awesome Products </p>
			<div class ="col">
				<h3 class="special_font">siglton</h3>
				<p>LiJun a China Academy of Engi-neering academcian and also director of the alliance's experts's oommittee said that China will also launch design guidance for smart cars,smart map archinec-ture and standards for test grounds</p>
			</div>
			<div class ="col">
				<h3 class="special_font">Hero</h3>
				<p>LiJun a China Academy of Engi-neering academcian and also director of the alliance's experts's oommittee said that China will also launch design guidance for smart cars,smart map archinec-ture and standards for test grounds</p>
			</div>
			<div class ="col">
				<h3 class="special_font">Pentland</h3>
				<p>LiJun a China Academy of Engi-neering academcian and also director of the alliance's experts's oommittee said that China will also launch design guidance for smart cars,smart map archinec-ture and standards for test grounds</p>
			</div>
		</div>
		
		<div id="part5">
			<div class="row">
				<img src="./image/tree.png"/>
				<div>
					<h4>Learn How to improve Your Personal Business </h4>
					<p>LiJun a China Academy of Engi-neering academcian and also director of the alliance's experts's oommittee said that China will also launch design guidance for smart cars,smart map archinec-ture and standards for test grounds</p>
				</div>
			</div>
			<div class="row">
				<div>
					<h4>Choose Between Two Beautify Designed Color Schemes </h4>
					<p>LiJun a China Academy of Engi-neering academcian and also director of the alliance's experts's oommittee said that China will also launch design guidance for smart cars,smart map archinec-ture and standards for test grounds</p>
				</div>
				<img src="./image/bird.png"/>
			</div>
		</div>
		
		<div id="part6">
			<p class="h1" >Our Awesome Crew </p>
			<p>Our unique online teaching style learning easy for everyone.Whether you are trying to land a new job,bush up your skills </p>
			<img src="./image/man1.png"/>
			<img src="./image/man2.png"/>
			<img src="./image/man3.png"/>
			<img src="./image/man4.png"/>
		</div>
		
		<div id="part7">
			<div id="inner" class="clearfix">
				<form id="suggestion">
					<h4>FELL FREE WRITE TO US</h4>
					<input type="email" placeholder="E-mail"/>
					<input type="text" placeholder="Subject"/>
					<textarea placeholder="Message" rows="10"></textarea>
					<input type="submit" value="SEND" />
				</form>
				<div id="contact">
					<p class="h1" >Contacts </p>
					<p>Make Any design your own using the style Editor,Personalize fonts ,colors,and layouts to create the custom look you want.</p>
					<p class="center clearfix"><img src="./image/location.png"/><strong>360 King Street Feastrave Trevose.PA 19057</strong></p>
					<p class="center clearfix"><img src="./image/phone.png"/><strong>(755)564-84-12</strong></p>
					<p class="center clearfix"><img src="./image/email.png"/><strong>yourname@mail.com</strong></p>
				</div>
			</div>
		</div>
	</body>
<html>